# Node modules
.node_modules/

# Logs
npm-debug.log*
yarn-error.log*

# Système de fichiers
.DS_Store
Thumbs.db

# Cache
.npm/
.yarn/
.cache/

# Build / Distribution
dist/
build/

# Environnement
backend/.env

# Tests
coverage/

# Fichiers temporaires
*.swp
*.swo

# IDE / Éditeurs
.vscode/
.idea/
.history/node_modules/
node_modules/
/.scannerwork/
/docs/
/certificat/
/package-lock.json
